<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de gestion SD{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">Sistema de Gestion Service Desk</a> <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" id="formularioBtn">Formulario de entrega</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="formularioDevBtn">Formulario de devolucion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="reportesBtn">Leasing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="stockBtn">Stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="stockPamiBtn">Stock Pami</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Redirige al formulario de entrega
        document.getElementById('formularioBtn').onclick = function () {
            window.location.href = "{{ url_for('formulario') }}";
        };

        // Redirige al formulario de devolución
        document.getElementById('formularioDevBtn').onclick = function () {
            window.location.href = "{{ url_for('formulario_devolucion') }}";
        };

        // Redirige al formulario de devolucion
        document.getElementById('reportesBtn').onclick = function () {
            window.location.href = "{{ url_for('leasing') }}";
        };

        document.getElementById('stockBtn').onclick = function () {
            window.location.href = "{{ url_for('stock') }}";
        };

        document.getElementById('stockPamiBtn').onclick = function () {
            window.location.href = "{{ url_for('stock_pami') }}";
        };
    </script>
</body>

</html>