<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Formulario</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/styles.css">
<style>
    .campo-obligatorio::after {
        content: "*";
        color: red;
        margin-left: 5px;
    }
</style>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">  
            <img src="/static/img/logo_emer.png" alt="logo_emer" width="100" height="100" class="mx-auto d-block" style="width: 200px; height: auto;">
            <h2 class="text-center">FORMULARIO DE ENTREGA</h2>
           
            <form action="/generar_reporte" method="post" target="_blank">
                <div class="form-group">
                    <label for="dispositivo" class="campo-obligatorio">Dispositivo:</label>
                    <select id="dispositivo" name="dispositivo" class="form-control" required>
                        <option value="">Selecciona un dispositivo</option>
                        <option value="Laptop">Laptop</option>
                        <option value="Laptop nueva">Laptop nueva</option>
                        <option value="Laptop uma">Laptop uma</option>
                        <option value="desktop">Desktop</option>
                        <option value="cargador">Cargador</option>
                        <option value="Telefono">Telefono</option>
                        <option value="vincha">Vincha</option>
                        <option value="Tablet">Tablet</option>
                        <option value="mouse">Mouse</option>
                        <option value="mouse inalambrico">Mouse inalambrico</option>
                        <option value="teclado">Teclado</option>
                        <option value="monitor">Monitor</option>      
                        <option value="pila">Pila</option>
                        <option value="kit inalambrico">Kit inalambrico</option> 
                         
                    </select>
                </div>

                <div id="nro_telefono" style="display: none;">
                    <label for="telefono">Número de Teléfono:</label>
                    <input type="number" id="nro_telefono" name="nro_telefono" class="form-control" placeholder="Numero de linea"><br>
                </div>

                <!-- Agregar debajo de los campos existentes en el formulario -->
                <div id="leasing-checkbox" style="display: none;">
                    <label>
                        <input type="checkbox" id="leasing" name="leasing"> Leasing
                    </label>
                </div>




                <div class="form-group">
                    <label for="modelo">Modelo:</label>
                    <input type="text" id="modelo" name="modelo" class="form-control" placeholder="Modelo del equipo">
                </div>

                <div class="form-group">
                    <label for="etiqueta">Etiqueta:</label>
                    <input type="text" id="etiqueta" name="etiqueta" class="form-control" placeholder="Numero de etiqueta Ej: N0XXXX">
                </div>

                <div class="form-group">
                    <label for="accesorios">Accesorios:</label>
                    <input type="text" id="accesorios" name="accesorios" class="form-control" placeholder="Ingrese los accesorios">
                </div>

                <div class="form-group">
                    <label for="ceco">Centro de costos:</label>
                    <input type="text" id="ceco" name="ceco" class="form-control" placeholder="Ingrese el CECO">
                </div>

                <div class="form-group">
                    <label for="organismo">Organismo:</label>
                    <select id="organismo" name="organismo" class="form-control" required>
                        <option value="MELIAN">MELIAN</option>
                        <option value="PAMI">PAMI</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="usuario" class="campo-obligatorio" >Usuario:</label>
                    <input type="text" id="asignado" name="asignado" class="form-control" autocomplete="off" required>
                    <div id="sugerencias"></div>
                </div>

                <div class="form-group">
                    <label for="nro_ticket">Número de Ticket:</label>
                    <input type="text" id="nro_ticket" name="nro_ticket" class="form-control" placeholder="Numero de ticket en caso de haber">
                </div>

                <div class="form-group">
                    <label for="tecnico" class="campo-obligatorio">Tecnico:</label>
                    <input type="text" id="tecnico" name="tecnico" class="form-control" required  placeholder="Nombre de usuario del técnico que entrega el equipo">
                </div>

                <div class="form-group">
                    <label for="fecha" class="campo-obligatorio">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="observaciones">Observaciones:</label>
                    <input type="text" id="observaciones" name="observaciones" class="form-control">
                </div>

                <input type="submit" value="Generar Reporte" class="btn btn-primary">
            </form>

            <a href="/" class="btn btn-secondary">Volver</a>

        </div>
    </div>
</div>

<script src="static/js/formulario_entrega.js"> </script>


</body>
</html>
