<!-- <h1>hola</h1>

<a href="{{ url_for('formulario') }}">formulario</a> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <img src="/static/img/logo_emer.png" alt="logo_emer" width="100" height="100" style="display: block; margin: 0 auto; width: 200px; height: auto;">
    <h2>Bienvenido</h2>
    <div class="button-container">
        <button class="button" id="formularioBtn">Formulario de entrega</button>   
        <button class="button" id="formularioDevBtn">Formulario de devolucion</button>    
        <button class="button" id="reportesBtn">Leasing</button>
        <button class="button" id="stockBtn">Stock</button>   
        <button class="button" id="stockPamiBtn">Stock Pami</button>   


        
        
       <!--  <a class="button" href="{{ url_for('formulario') }}">Formulario</a>  -->
        
    </div>
    <script>
        
   
        // Redirige al formulario de entrega
        document.getElementById('formularioBtn').onclick = function() {
                    window.location.href = "{{ url_for('formulario') }}";
                };

        // Redirige al formulario de devolución
        document.getElementById('formularioDevBtn').onclick = function() {
            window.location.href = "{{ url_for('formulario_devolucion') }}"; // Asegúrate de que esta sea la ruta correcta en Flask
        };

                // Redirige al formulario de devolución
            document.getElementById('reportesBtn').onclick = function() {
            window.location.href = "{{ url_for('leasing') }}"; // Asegúrate de que esta sea la ruta correcta en Flask
        };

        document.getElementById('stockBtn').onclick = function() {
            window.location.href = "{{ url_for('stock') }}"; // Asegúrate de que esta sea la ruta correcta en Flask
        };

        document.getElementById('stockPamiBtn').onclick = function() {
            window.location.href = "{{ url_for('stock_pami') }}"; // Asegúrate de que esta sea la ruta correcta en Flask
        };

        
    </script>
</body>

</html>

