{% extends "base.html" %}

{% block title %}Leasing{% endblock %}

{% block content %}
<img src="/static/img/logo_emer.png" alt="logo_emer" width="200" class="mx-auto d-block">
<div class="container" id="contenedor-devolucion">
    <h2 class="titulo-formulario">Leasing</h2>
    <h4 class="text-white">Cantidad entregada: {{ total_entregados }}</h4>
    <h4 class="text-white">Stock restante: {{ restantes }}</h4>
    <br>

    <table class="table table-resultados table-bordered text-white">
        <thead>
            <tr>
                <th>ETIQUETA</th>
                <th>MODELO</th>
                <th>USUARIO ASIGNADO</th>
                <th>FECHA DE ENTREGA</th>
                <th>TECNICO RESPONSABLE</th>
            </tr>
        </thead>
        <tbody>
            {% for row in datos %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/" class="btn btn-secondary">Volver</a>
</div>
{% endblock %}