{% extends "base.html" %}

{% block title %}Restar Stock PAMI{% endblock %}

{% block content %}
<img src="/static/img/logo_emer.png" alt="logo_emer" width="200" class="mx-auto d-block">
<div class="container" id="contenedor-stock">
    <h2 class="titulo-formulario">Restar Stock PAMI</h2>
    <form action="/restar_stock_pami" method="POST">
        <div class="form-group form-group-sm">
            <label for="producto">Producto:</label><br>
            <select name="producto_pami" id="producto" class="form-control form-control-sm">
                {% for producto in productos %}
                <option value="{{ producto[0] }}">{{ producto[0] }}</option>
                {% endfor %}
            </select><br>
        </div>
        <div class="form-group form-group-sm">
            <label for="cantidad">Cantidad:</label><br>
            <input type="number" name="cantidad" id="cantidad" class="form-control form-control-sm" required><br><br>
        </div>
        <div class="button-container">
            <button type="submit" class="btn btn-primary btn-sm">Restar</button>
            <button class="volver btn btn-secondary btn-sm" onclick="window.location.href='/stock_pami'">Volver al Inventario</button>
        </div>
    </form>
</div>
{% endblock %}