{% extends "base.html" %}

{% block title %}Buscar Usuarios{% endblock %}

{% block content %}
<img src="/static/img/logo_emer.png" alt="logo_emer" width="200" class="mx-auto d-block">
<div class="container" id="contenedor-devolucion">
    <h2 class="titulo-buscar-usuarios">Buscar Usuarios</h2>
    <form action="/buscar_usuarios" method="GET">
        <div class="row justify-content-center"> <div class="col-md-6">
                <input type="text" id="usuario" name="usuario" class="form-control" autocomplete="off">
                <div id="sugerencias"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Buscar en Base de Datos</button>
            </div>
        </div>
    </form>

    <div class="resultado" id="resultado">
        {% if dispositivos %}
        <table class="table table-resultados table-bordered text-white">
            <thead>
                <tr>
                    <th>Dispositivo</th>
                    <th>Modelo</th>
                    <th>Etiqueta</th>
                    <th>Fecha de entrega</th>
                    <th>Devuelto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for dispositivo in dispositivos %}
                <tr>
                    <td>{{ dispositivo[0] }}</td>
                    <td>{{ dispositivo[1] }}</td>
                    <td>{{ dispositivo[6] }}</td>
                    <td>{{ dispositivo[2] }}</td>
                    <td>{{ dispositivo[3] }}</td>
                    <td>
                        {% if not dispositivo[3] %}
                        <form action="/devolver" method="POST">
                            <input type="hidden" name="usuario" value="{{ request.args.get('usuario', '') }}">
                            <input type="hidden" name="dispositivo_id" value="{{ dispositivo[4] }}">
                            <button type="submit" class="btn btn-danger btn-sm">Devolver</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        {% endif %}
    </div >
</div>
<a href="/" class="btn btn-secondary">Volver</a>

<script src="static/js/resultados.js"></script>
{% endblock %}