{% extends "base.html" %}

{% block title %}Inventario{% endblock %}

{% block content %}
<img src="/static/img/logo_emer.png" alt="logo_emer" width="200" class="mx-auto d-block">
<div class="container" id="contenedor-devolucion">
    <h2 class="titulo-formulario">Inventario PAMI</h2>
    <div class="button-container">
        <button class="btn btn-primary btn-sm" onclick="window.location.href='/agregar_stock'">Agregar Stock</button>
        <button class="btn btn-info btn-sm" onclick="window.location.href='/restar_stock'">Restar Stock</button>
    </div>

    <table class="table table-resultados table-bordered table-sm text-white">  <thead>
            <tr>
                <th>Producto
                    <button class="add-button" onclick="window.location.href='/agregar_item_pami'">+</button>
                </th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventario %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<a href="/" class="btn btn-secondary">Volver</a>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/stock.css">
{% endblock %}