<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    
    <!-- Incluir el archivo CSS externo -->
    <link rel="stylesheet" href="/static/css/stock.css">
</head>
<body>
    <img src="/static/img/logo_emer.png" alt="logo_emer" width="100" height="100" style="display: block; margin: 0 auto; width: 200px; height: auto;">
    <div class="container">
        <h1>Inventario</h1>
        <div class="button-container">
            <button onclick="window.location.href='/agregar_stock_pami'">Agregar Stock</button>
            <button onclick="window.location.href='/restar_stock_pami'">Restar Stock</button><!-- Nuevo botón para Restar Stock -->
        </div>

        <table>
            <thead>
                <tr>
                    <th>Producto 
                        <!-- Botón de + al lado del encabezado de Producto -->
                        <button class="add-button" onclick="window.location.href='/agregar_item_pami'">+</button>
                    </th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventario %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <a href="/" class="btn btn-secondary">Volver</a>
</body>
</html>


<!-- Botón de agregar item -->

