/* Estilos generales */
body {
    background-image: url('../img/fondo_emer.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Esta es la clave */
    color: #eee;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(80, 10, 99, 0.7);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para la vista principal (index.html) */
.main-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
}

.main-view-logo {
    max-width: 350px;
    height: auto;
    margin-bottom: 20px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.main-view-title {
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}

/* Estilos para el formulario (formulario.html) */
.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.titulo-formulario {
    text-align: center;
    color: white;
    font-size: 2.5em;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}

.form-group {
    position: relative; /* Añadido para posicionar las sugerencias correctamente */
    margin-bottom: 12px;
}

label {
    font-weight: bold;
    color: #ddd;
    margin-bottom: 3px; /* Margen inferior reducido */
    display: block;
    font-size: 0.9em; /* Tamaño de fuente reducido */
}

.form-control {
    width: 90%; /* Ancho ajustado */
    margin: 0 auto;
    padding: 6px; /* Padding reducido */
    border-radius: 5px;
    border: 1px solid #999;
    background-color: rgba(255, 255, 255, 0.2);
    color: #eee;
    font-size: 0.8em; /* Tamaño de fuente reducido */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para los botones */
.btn-container {
    text-align: center;
    margin-top: 30px;
}

.btn {
    margin: 0 8px; /* Margen lateral reducido */
    padding: 4px 10px; /* Padding reducido */
    border-radius: 5px;
    font-size: 0.8em; /* Tamaño de fuente reducido */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #6f0099;
    border-color: #6f0099;
}

.btn-primary:hover {
    background-color: #5a007a;
    border-color: #5a007a;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    background-color: #555;
    border-color: #555;
}

.btn-secondary:hover {
    background-color: #444;
    border-color: #444;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para el select */
select.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23eee'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
}

select.form-control::-ms-expand {
    display: none;
}

/* Estilos para el checkbox de leasing */
#leasing-checkbox {
    margin-top: 10px;
    color: #ddd;
}

/* Estilos para las sugerencias de usuario */
/* Estilos para las sugerencias de usuario */
#sugerencias {
    position: absolute;
    width: calc(90% - 12px); /* Ajustado al ancho del input */
    background-color: #500a63; /* Color sólido (morado oscuro) */
    opacity: 0.9; /* Opacidad (90%) */
    border: 1px solid #666;
    border-top: none;
    z-index: 1;
    border-radius: 5px;
    top: 100%; /* Posiciona justo debajo del input */
    left: 5%; /* Centra las sugerencias con respecto al input */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#sugerencias div {
    display: block;
    padding: 5px 10px;
    color: #eee;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #666;
}

#sugerencias div:last-child {
    border-bottom: none;
}

#sugerencias div:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#sugerencias .focus {
    background-color: rgba(255, 255, 255, 0.3);
}


/* Estilos para devolucion.html */
.titulo-buscar-usuarios {
    text-align: center;
    color: white;
    font-size: 2em; /* Puedes ajustar el tamaño */
    margin-bottom: 20px; /* Puedes ajustar el margen */
}

/* Estilos para la tabla */
.table-resultados {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente blanco */
    color: white; /* Texto en color blanco */
}

.table-resultados th,
.table-resultados td {
    text-align: center; /* Centrar el texto en las celdas */
    vertical-align: middle; /* Centrar verticalmente el texto en las celdas */
}

.table-resultados th {
    background-color: rgba(0, 0, 0, 0.3); /* Fondo oscuro para los encabezados */
    font-weight: bold; /* Encabezados en negrita */
}

.table-resultados tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Resaltar la fila al pasar el mouse */
}

/* Estilos para el formulario de búsqueda */
#usuario {
    max-width: 50%; /* Ancho del input reducido a la mitad */
    margin: 0 auto; /* Centrar el input horizontalmente */
}

/* Estilos para el botón de búsqueda */
.btn-primary {
    display: block; /* Convertir el botón en un elemento de bloque */
    margin: 20px auto; /* Centrar el botón horizontalmente */
}

#contenedor-devolucion {
    max-width: 1000px; /* Ancho máximo del contenedor reducido */
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(80, 10, 99, 0.7);
}

.button-container .btn-primary, .button-container .btn-info { /* Estilos para los botones dentro de .button-container */
    background-color: #e67e22;
    border-color: #e67e22;
    color: white;
}

.button-container .btn-primary:hover, .button-container .btn-info:hover {
    background-color: #d16c13;
    border-color: #d16c13;
}

/* Ajustar tamaño del contenedor específico */
#contenedor-stock {
    max-width: 400px;
    padding: 10px;
}

/* Ajustar tamaño de los inputs y select */
#producto, #cantidad {
    width: 100%;
    padding: 4px;
    font-size: 0.85em;
}

/* Ajustar tamaño de los botones */
.btn-sm {
    padding: 4px 10px;
    font-size: 0.85em;
}

/* Estilos para el contenedor de botones en #contenedor-stock */
#contenedor-stock .button-container {
    display: flex; /* Usamos flexbox para controlar el espaciado */
    justify-content: space-between; /* Distribuye los botones uniformemente */
    margin-top: 10px; /* Espacio superior reducido */
}

#contenedor-stock .button-container .btn {
    margin: 0; /* Elimina los márgenes individuales de los botones */
}

/* Contenedor principal */
#login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(80, 10, 99, 0.7);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Título */
#login-title {
    text-align: center;
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Formulario */
#login-form {
    width: 100%;
}

/* Etiquetas (labels) */
#login-form label {
    color: #ddd;
    font-weight: bold;
}

/* Inputs */
#login-form .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    color: #eee;
    border: none;
}

/* Botón */
#login-form button {
    background-color: #6f0099;
    border-color: #6f0099;
}

/* Imagen */
#login-logo {
    width: 200px;
    height: auto;
    margin: 0 auto 20px;
    display: block;
}

.custom-input {
    width: 100%; /* Or a specific width like 200px */
    box-sizing: border-box; /* Important for consistent sizing with padding/borders */
    /* Add any other desired styling here, like padding, border, etc. */
}

.asterisk {
    color: red;
}